@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// sass variables
    //fonts
$font-header: 'Lato', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;
$text-dark: #222;
$text-light: #eee;
    //color pallette v1.0
$blue-light: #54a0ff;
$blue-dark: #2e86de;
$green-light: #1dd1a1;
$green-dark: #10ac84;
$mint-light: #00d2d3;
$mint-dark: #01a3a4;
$orange-light: #f39c12;
$orange-dark: #e67e22;
$red-light: #e74c3c;
$red-dark: #c0392b;
$purple-light: #686de0;
$purple-dark: #4834d4;
$grey-light: #95a5a6;
$grey-dark: #7f8c8d;
$black-light: #4b4b4b;
$black-dark: #3d3d3d;
$white-light: #fff;
$white-dark: #e2e2e2;

//stylesheet
    //typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  color: $text-dark;
  margin: 0.4em 0;
}

h1 {
    font-size: calc(1rem + 5.5vw);
}

h2 {
    font-size: calc(0.9rem + 4.5vw);
}

h3 {
    font-size: calc(0.8rem + 4.0vw);
}

h4 {
    font-size: calc(0.7rem + 3.5vw);
}

h5 {
    font-size: calc(0.6rem + 3.0vw);
}

h6 {
    font-size: calc(0.5rem + 2.0vw);
}

p {
    font-family: $font-text;
}

// media queries
@media all and (min-width: 1280px) {

}

@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 480px) and (max-width: 768px) {

}

@media all and (max-width: 480px) {

}